-- ============================================
-- EHS SOLUTIONS - SCHEMA + SEED DATA
-- Ejecutar en Supabase SQL Editor
-- ============================================

-- ============================================
-- 1. SCHEMA
-- ============================================

CREATE TABLE IF NOT EXISTS users (
  id SERIAL PRIMARY KEY,
  first_name VARCHAR(100) NOT NULL,
  last_name VARCHAR(100) NOT NULL,
  email VARCHAR(255) UNIQUE NOT NULL,
  password VARCHAR(255) NOT NULL,
  role VARCHAR(20) DEFAULT 'student' CHECK (role IN ('student', 'instructor', 'admin')),
  bio TEXT,
  avatar_url VARCHAR(500),
  phone VARCHAR(20),
  is_active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS courses (
  id SERIAL PRIMARY KEY,
  title VARCHAR(255) NOT NULL,
  description TEXT,
  short_description VARCHAR(500),
  instructor_id INTEGER NOT NULL REFERENCES users(id),
  category VARCHAR(100),
  thumbnail_url VARCHAR(500),
  is_published BOOLEAN DEFAULT FALSE,
  price DECIMAL(10, 2) DEFAULT 0,
  duration_hours INTEGER,
  difficulty_level VARCHAR(50) CHECK (difficulty_level IN ('beginner', 'intermediate', 'advanced')),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS modules (
  id SERIAL PRIMARY KEY,
  course_id INTEGER NOT NULL REFERENCES courses(id) ON DELETE CASCADE,
  title VARCHAR(255) NOT NULL,
  description TEXT,
  order_index INTEGER,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS lessons (
  id SERIAL PRIMARY KEY,
  module_id INTEGER NOT NULL REFERENCES modules(id) ON DELETE CASCADE,
  title VARCHAR(255) NOT NULL,
  description TEXT,
  content_type VARCHAR(50) CHECK (content_type IN ('video', 'text', 'document', 'mixed')),
  content_url VARCHAR(500),
  video_url VARCHAR(500),
  document_url VARCHAR(500),
  content TEXT,
  duration_minutes INTEGER,
  order_index INTEGER,
  is_required BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS enrollments (
  id SERIAL PRIMARY KEY,
  student_id INTEGER NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  course_id INTEGER NOT NULL REFERENCES courses(id) ON DELETE CASCADE,
  enrollment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  completion_date TIMESTAMP,
  status VARCHAR(50) DEFAULT 'enrolled' CHECK (status IN ('enrolled', 'in_progress', 'completed', 'dropped')),
  progress_percentage DECIMAL(5, 2) DEFAULT 0,
  UNIQUE(student_id, course_id)
);

CREATE TABLE IF NOT EXISTS lesson_progress (
  id SERIAL PRIMARY KEY,
  student_id INTEGER NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  lesson_id INTEGER NOT NULL REFERENCES lessons(id) ON DELETE CASCADE,
  is_completed BOOLEAN DEFAULT FALSE,
  completion_date TIMESTAMP,
  time_spent_minutes INTEGER DEFAULT 0,
  UNIQUE(student_id, lesson_id)
);

CREATE TABLE IF NOT EXISTS quizzes (
  id SERIAL PRIMARY KEY,
  lesson_id INTEGER NOT NULL REFERENCES lessons(id) ON DELETE CASCADE,
  title VARCHAR(255) NOT NULL,
  description TEXT,
  passing_score DECIMAL(5, 2) DEFAULT 70,
  total_questions INTEGER,
  time_limit_minutes INTEGER,
  is_active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS quiz_questions (
  id SERIAL PRIMARY KEY,
  quiz_id INTEGER NOT NULL REFERENCES quizzes(id) ON DELETE CASCADE,
  question_text TEXT NOT NULL,
  option_a TEXT,
  option_b TEXT,
  option_c TEXT,
  option_d TEXT,
  correct_answer VARCHAR(1) CHECK (correct_answer IN ('a', 'b', 'c', 'd')),
  explanation TEXT,
  order_index INTEGER,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS quiz_results (
  id SERIAL PRIMARY KEY,
  student_id INTEGER NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  quiz_id INTEGER NOT NULL REFERENCES quizzes(id) ON DELETE CASCADE,
  score DECIMAL(5, 2),
  total_questions INTEGER,
  correct_answers INTEGER,
  answers JSONB,
  started_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  completed_at TIMESTAMP,
  UNIQUE(student_id, quiz_id)
);

CREATE TABLE IF NOT EXISTS certificates (
  id SERIAL PRIMARY KEY,
  student_id INTEGER NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  course_id INTEGER NOT NULL REFERENCES courses(id) ON DELETE CASCADE,
  certificate_number VARCHAR(100) UNIQUE,
  issued_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  pdf_url VARCHAR(500),
  is_valid BOOLEAN DEFAULT TRUE,
  UNIQUE(student_id, course_id)
);

-- ============================================
-- 2. SEED DATA
-- ============================================

-- Usuario Instructor
INSERT INTO users (first_name, last_name, email, password, role, bio, is_active)
VALUES ('Carlos', 'Ram├¡rez', 'instructor@ehs-solutions.com', '$2b$10$J1NZQvHhPeT8Sbh0DP0N3usf/KiW3g6.jkbx7LKyk0OW3myY/zYUy', 'instructor', 'Instructor certificado en Seguridad Industrial y Salud Ocupacional con 15 a├▒os de experiencia.', true)
ON CONFLICT (email) DO NOTHING;

-- Usuario Admin
INSERT INTO users (first_name, last_name, email, password, role, bio, is_active)
VALUES ('Dario', 'Robles', 'd4r005@gmail.com', 'managed_by_auth', 'admin', 'Administrador del sistema EHS Solutions.', true)
ON CONFLICT (email) DO NOTHING;

-- Usuario Estudiante de ejemplo
INSERT INTO users (first_name, last_name, email, password, role, is_active)
VALUES ('Ana', 'Garc├¡a', 'estudiante@ehs-solutions.com', '$2b$10$J1NZQvHhPeT8Sbh0DP0N3usf/KiW3g6.jkbx7LKyk0OW3myY/zYUy', 'student', true)
ON CONFLICT (email) DO NOTHING;

-- ============================================
-- CURSO 1: Seguridad en Trabajos en Alturas
-- ============================================



-- ============================================
-- CURSO 2: Seguridad en Trabajos de Soldadura y Oxicorte
-- ============================================



-- ============================================
-- CURSO 3: Formaci├│n de Brigadas de Emergencia
-- ============================================



-- ============================================
-- CURSO 4: Seguridad en Espacios Confinados
-- ============================================



-- ============================================
-- CURSO 5: Aseguramiento de Energ├¡a (LOTO)
-- ============================================



-- ============================================
-- CURSO 6: Formaci├│n de Instructores
-- ============================================



-- ============================================
-- CURSO 7: Formaci├│n de Supervisores de Seguridad y Salud Ocupacional
-- ============================================


